<div>
    <button class="button">{{ buttonLabel }}</button>
    <button class="button  button--active">{{ activeButtonLabel }}</button>
</div>

<div>
    <a href="#" class="button">{{ linkLabel }}</a>
    <a href="#" class="button  button--active">{{ activeLinkLabel }}</a>
</div>