.button {
    padding: 10px 15px;
    display: inline-block;
    font-family: $font-secondary;
    font-size: 20px;
    background: transparent;
    border: 2px solid $color-black;
    color: $color-black;
    text-decoration: none;
    transition: .3s all;
    
    &--active {
        background: $color-signal;
        color: $color-black;
    }
    
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}