.headline {
    margin: 0;
    // border-bottom: 2px solid $color-signal;
    font-family: $font-secondary;

    &--large {
        font-size: 54px;
    }
    
    &--medium {
        font-size: 42px;
    }

    &--small {
        font-size: 28px;
        border: none;
    }

    &--underlined {
        text-decoration: underline;
    }

    &--centered {
        text-align: center;
    }
}