.toggle {
    padding: 10px;
    display: inline-block;
    border: 2px solid $color-black;
    font-family: $font-primary;
    font-size: 20px;
    transition: all .2s;
    
    &:hover {
        cursor: pointer;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &--active {
        background: $color-signal;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}