//**
// * Settings
$grid__cols: 12 !default;
$grid__gutter: 20px !default;
$grid__inlineblock-hack: true !default;
$grid__breakpoints: (
    'medium': $bp-medium,
    'large': $bp-large,
    'xlarge': $bp-xlarge
) !default;

//**
// * Container
.grid {
    margin-left: -$grid__gutter;
    @if $grid__inlineblock-hack  {
        margin-left: -$grid__gutter + 4;
    }
    display: block;
}



//**
// * Items
.grid__col {
    width: 100%;
    padding-left: $grid__gutter;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display: inline-block;
    vertical-align: top;

    @if $grid__inlineblock-hack  {
        margin-left: -4px;
    }

    @for $i from 0 through $grid__cols {
        &--#{$i} {
            width: $i / $grid__cols * 100%;
        }
    }

    @each $breakpoint in $grid__breakpoints {
        $name: nth($breakpoint, 1);
        $mq: nth($breakpoint, 2);

        @media only screen and #{$mq} {
            @for $i from 0 through $grid__cols {
                &--#{$i}\@#{$name} {
                    width: $i / $grid__cols * 100%;
                }
            }
        }
    }
}



//**
// * Push state
@for $i from 0 through $grid__cols {
    .is-pushed-by-#{$i} {
        position: relative;
        left: $i / $grid__cols * 100%;
    }
}

@each $breakpoint in $grid__breakpoints {
    $name: nth($breakpoint, 1);
    $mq: nth($breakpoint, 2);

    @media only screen and #{$mq} {
        @for $i from 0 through $grid__cols {
            .is-pushed-by-#{$i}\@#{$name} {
                position: relative;
                left: $i / $grid__cols * 100%;
            }
        }
    }
}



//**
// * Pull state
@for $i from 0 through $grid__cols {
    .is-pulled-by-#{$i} {
        position: relative;
        right: $i / $grid__cols * 100%;
    }
}

@each $breakpoint in $grid__breakpoints {
    $name: nth($breakpoint, 1);
    $mq: nth($breakpoint, 2);

    @media only screen and #{$mq} {
        @for $i from 0 through $grid__cols {
            .is-pulled-by-#{$i}\@#{$name} {
                position: relative;
                right: $i / $grid__cols * 100%;
            }
        }
    }
}