<!DOCTYPE html>
<html>
<head>
    <title>Preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    {{!-- <link rel="icon" href="{{ '/dist/assets/favicon.ico' | path }}" type="image/x-icon"> --}}
    <link rel="stylesheet" href="{{path '/dist/css/main.css'}}" media="all">
</head>
<body>
    {{{ yield }}}
    <script src="{{path '/dist/js/main.js'}}"></script>
</body>
</html> 