<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list__item"><a class="nav__list__item__link  nav__list__item__link--active" href="#">Home</a></li>
        <li class="nav__list__item"><a class="nav__list__item__link" href="#">Portfolio</a></li>
        <li class="nav__list__item"><a class="nav__list__item__link" href="#">Contact</a></li>
        <li class="nav__list__item"><a class="nav__list__item__link" href="#">About</a></li>
    </ul>
</nav>