<div class="grid" style="padding: 20px;">
    <div class=" grid__col  grid__col--4">
        <div class="h-bg--black" style="width: 100%; height: 50px;"></div>
        <p>
            Color: <b>$color-black</b></br>
            Code: rgba(35, 35, 35 ,1)
        </p>
    </div>
    <div class=" grid__col  grid__col--4">
        <div class="h-bg--white" style="width: 100%; height: 50px;"></div>
        <p>
            Color: <b>$color-white</b></br>
            Code: rgba(225, 225, 225 ,1)
        </p>
    </div>
    <div class=" grid__col  grid__col--4">
        <div class="h-bg--signal" style="width: 100%; height: 50px;"></div>
        <p>
            Color: <b>$color-signal</b></br>
            Code: rgba(127, 255, 96 ,1)
        </p>
    </div>
</div>