.footer {
    margin-top: 80px;
    padding: 10px;
    width: 100%;
    background: $color-black;
    display: flex;
    font-size: 14px;
    font-family: $font-primary;
    flex-direction: column;

    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
        flex: 1;
        display: flex; 
        list-style: none;
        
        &__item {
            flex: 2;
            flex-shrink: 1;
            text-align: center;
            
            &__link {
                width: 100%;
                text-decoration: none;
                color: $color-white;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__copyright {
        margin-top: 2 * $spacer;
        color: $color-white;
        flex: 2;
        text-align: center; 
    }

    @media only screen and (min-width: 700px) {
        flex-direction: row;

        &__copyright {
            margin-top: 0;
            text-align: right;
        }
    }
}