.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-signal;
    -webkit-box-shadow: 0px 9px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 9px 19px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 9px 19px -5px rgba(0,0,0,0.5);
    z-index: $index-nav;
    
    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 40px;
        display: flex;
        list-style: none;
        align-items: center;

        &__item {
            flex: 1;
            text-align: center;
            
            &__link {
                display: block;
                height: 40px;
                text-decoration: none;
                color: $color-black;
                transition: all .1s;
                line-height: 40px;
                font-family: $font-primary;
                font-size: 20px;

                &--active {
                    background: $color-black;
                    color: $color-white;
                }

                &:hover {
                    background: $color-black;
                    color: $color-white;
                }
            }
        }
    }
}