.teaser {
    margin-top: 4 * $spacer;
    margin-right: auto;
    margin-bottom: 4 * $spacer;
    margin-left: auto;
    padding: 2 * $spacer;
    max-width: 500px;
    border: 2px solid $color-black;
}