<footer class="footer">
    <ul class="footer__list">
        <li class="footer__list__item"><a class="footer__list__item__link" href="#">Home</a></li>
        <li class="footer__list__item"><a class="footer__list__item__link" href="#">Portfolio</a></li>
        <li class="footer__list__item"><a class="footer__list__item__link" href="#">Contact</a></li>
        <li class="footer__list__item"><a class="footer__list__item__link" href="#">About</a></li>
    </ul>
    <span class="footer__copyright">© Michael Magrian</span>
</footer>