<h3>12er Grid</h3>
<style>
    .grid__col {
        padding: 0 5px;
        height: 50px; 
        color: #f5f5f5; 
        border: 2px solid #252525
    }

</style>
<div class="grid">
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
    <div class="grid__col  grid__col--6  grid__col--4@medium  grid__col--1@large">1</div>
</div>

<h3>6er Grid</h3>

<div class="grid">
    <div class="grid__col  grid__col--12  grid__col--3@medium  grid__col--2@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--3@medium  grid__col--2@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--3@medium  grid__col--2@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--3@medium  grid__col--2@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--3@medium  grid__col--2@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--3@medium  grid__col--2@large">1</div>
</div>

<h3>3er Grid</h3>

<div class="grid">
    <div class="grid__col  grid__col--12  grid__col--6@medium  grid__col--4@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--6@medium  grid__col--4@large">1</div>
    <div class="grid__col  grid__col--12  grid__col--6@medium  grid__col--4@large">1</div>
</div>

<h3>6er Grid</h3>

<div class="grid">
    <div class="grid__col  grid__col--12  grid__col--6@medium">1</div>
    <div class="grid__col  grid__col--12  grid__col--6@medium">1</div>
</div>

<h3>Pushed Grid</h3>

<div class="grid">
    <div class="grid__col  grid__col--6  is-pushed-by-3">1</div>
</div>