<div class="h-font--primary">
    <h4>
        <u>Primary Font: Gill Sans MT</u></br>Variable: $font-primary
    </h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
</div>

<hr>

<div class="h-font--secondary">
    <h4>
        <u>Secondary Font: Courier New</u></br>Variable: $font-secondary
    </h4>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
</div>