.h-bg--black {
    background: $color-black;
}

.h-fg--black {
    color: $color-black;
}

.h-bg--white {
    background: $color-white;
}

.h-fg--white {
    color: $color-white;
}

.h-bg--signal {
    background: $color-signal;
}

.h-fg--signal {
    color: $color-signal;
}
