$spacer: 10px;
$spacer__breakpoints: (
    'medium': $bp-medium,
    'large': $bp-large,
    'xlarge': $bp-xlarge
) !default;

.h-sp {
    @for $i from 0 through 8 {
        &--#{$i} {
            padding-top: $i * $spacer;
            padding-bottom: $i * $spacer;
        }
    }

    @each $breakpoint in $spacer__breakpoints {
        $name: nth($breakpoint, 1);
        $mq: nth($breakpoint, 2);
        @for $i from 0 through 8 {
            &--#{$i} {
                &\@#{$name} {
                    @media only screen and #{$mq}  {
                        padding-top: $i * $spacer !important;
                        padding-bottom: $i * $spacer !important;
                    }
                }
            }
        }
    }
}

.h-spt {
    @for $i from 0 through 8 {
        &--#{$i} {
            padding-top: $i * $spacer;
            padding-bottom: 0;
        }
    }

    @each $breakpoint in $spacer__breakpoints {
        $name: nth($breakpoint, 1);
        $mq: nth($breakpoint, 2);
        @for $i from 0 through 8 {
            &--#{$i} {
                &\@#{$name} {
                    @media only screen and #{$mq}  {
                        padding-top: $i * $spacer !important;
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

.h-spb {
    @for $i from 0 through 8 {
        &--#{$i} {
            padding-top: 0;
            padding-bottom: $i * $spacer;
        }
    }

    @each $breakpoint in $spacer__breakpoints {
        $name: nth($breakpoint, 1);
        $mq: nth($breakpoint, 2);
        @for $i from 0 through 8 {
            &--#{$i} {
                &\@#{$name} {
                    @media only screen and #{$mq}  {
                        padding-top: 0 !important;
                        padding-bottom: $i * $spacer !important;
                    }
                }
            }
        }
    }
}