<h1 class="headline  headline--large{{# if modifier}}  {{modifier}}{{/if}}">{{ large }}</h1>

<h2 class="headline  headline--medium{{# if modifier}}  {{modifier}}{{/if}}">{{ medium }}</h2>

<h3 class="headline  headline--small{{# if modifier}}  {{modifier}}{{/if}}">{{ small }}</h3>