<header>
    {{ render '@nav' }}
    <div class="h-spt--4">
        {{ render '@image' }}
    </div>
</header>

<main class="l-wrapper">

    <section class="grid  h-spt--8">
        <div class="grid__col  grid__col--6@large grid__col--3@xlarge">
            {{ render '@teaser' }}
        </div>
        <div class="grid__col  grid__col--6@large grid__col--3@xlarge">
            {{ render '@teaser' }}
        </div>
        <div class="grid__col  grid__col--6@large grid__col--3@xlarge">
            {{ render '@teaser' }}
        </div>
        <div class="grid__col  grid__col--6@large grid__col--3@xlarge">
            {{ render '@teaser' }}
        </div>
    </section>

    <section class="h-spt--8">
        <article class="grid">
            <div class="grid__col  grid__col--12  grid__col--6@large  grid__col--5@xlarge  is-pushed-by-1@xlarge">
                {{ render '@image' }}
            </div >

            <div class="grid__col  grid__col--10  grid__col--6@large  grid__col--5@xlarge  is-pushed-by-1  is-pushed-by-0@large  is-pushed-by-1@xlarge">
                <p class="copy  copy--large  h-spt--3  h-spt--0@medium">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
        </article>
    </section>

    <section class="h-spt--8">
        <article class="grid">
            <div class="grid__col  grid__col--12  grid__col--6@large  grid__col--5@xlarge  is-pushed-by-1@xlarge">
                {{ render '@image' }}
            </div >

            <div class="grid__col  grid__col--10  grid__col--6@large  grid__col--5@xlarge  is-pushed-by-1  is-pushed-by-0@large  is-pushed-by-1@xlarge">
                <p class="copy  copy--large  h-spt--3  h-spt--0@medium">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
        </article>
    </section>
    
</main>

{{ render '@footer' }}