<picture class="image"> 
   <source media="(min-width: 90em)"  srcset="{{ srcXLarge }}">
   <source media="(min-width: 64em)"  srcset="{{ srcLarge }}">
   <source media="(min-width: 40em)" srcset="{{ srcMedium }}">
   <source srcset="{{ srcSmall }}">
   <img src="{{ srcFallback }}" alt="{{ altText }}">
</picture>