<article class="teaser">
    <div class="h-spb--1">
        <picture class="image">
            <source srcset="https://source.unsplash.com/random/500x200, https://source.unsplash.com/random/1000x400 2x">
            <img src="https://source.unsplash.com/random/500x200" alt="Teaser Image">
        </picture>
    </div>
    <h4 class="headline  headline--small  h-spb--2"> Teaser Headline</h4>
    <p class="copy  h-spb--2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
    <div>
        <a href="#" class="button">More Information</a>
    </div>
</article>